<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form action="#" th:method="PATCH" th:action="@{/admin/user-update}" th:object="${user}">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <th:block th:each="role: ${roles}">
        <input type="checkbox" th:field="*{roles}"
               th:text="${role.name}" th:value="${role.id}" class="m-2" />
    </th:block>
    <br/>
    <input type="submit" value="Update User">
</form>
<a href="/logout">
    <button>Exit</button>
</a>
</body>
</html>